<ion-card>
    <ion-card-header>
      <ion-card-title>Store</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Looking for equipment to improve your battle, look no further.
    </ion-card-content>
    <ion-item *ngFor="let itm of items">
      <app-item-icon [item]="itm"></app-item-icon>
      <ion-label  class="display-item-label" >{{getItemLabel(itm)}}</ion-label>
      <ion-button (click)="purchase(itm);" slot="end">Purchase {{getPrice(itm)}}</ion-button>
    </ion-item>
    <ion-item *ngFor="let itm of shopItems">
        <ion-label>{{itm[0].name}}</ion-label>
        <ion-button slot="end">Purchase for {{itm[1]}}</ion-button>
      </ion-item>
  </ion-card>