<ion-modal [isOpen]="isOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Player Specs</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <ion-item>
                <ion-toolbar>
                    <ion-buttons slot="primary">
                        <ion-button>
                            <ion-icon tile="Items" slot="icon-only" name="briefcase-outline"></ion-icon>
                        </ion-button>
                        <ion-button>
                            <ion-icon slot="icon-only" name="search"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>


            </ion-item>
            <ion-list *ngIf="hero">
                <ion-item>
                  <ion-label>Auto Deposit</ion-label>
                  <ion-checkbox #autoDeposit slot="end" (ionChange)="hero.property!['autoDeposit'] = autoDeposit?.checked || false" [checked]="hero.property!['autoDeposit'] || false"></ion-checkbox>
                </ion-item>
                <ion-item *ngIf="hero.property && hero.property!['assignable']">
                    <ion-label>Assignable</ion-label>
                    <ion-note slot="end">{{hero.property!['assignable']}}</ion-note>
                </ion-item>
                <ion-item>
                    <ion-label>Level</ion-label>
                    <ion-note slot="end">{{hero.level}}</ion-note>
                </ion-item>
                <ion-item>
                    <ion-label>Attack</ion-label>
                    <ion-buttons slot="end" *ngIf="hero.property && hero.property!['assignable'] && hero.property!['assignable'] > 0">
                        <ion-button (click)="changeProperty('+', 'a')">
                            <ion-icon  slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-note slot="end">{{hero.attack}}</ion-note>
                </ion-item>
                <ion-item>
                    <ion-label>Defence</ion-label>
                    <ion-buttons slot="end" *ngIf="hero.property && hero.property!['assignable'] && hero.property!['assignable'] > 0">
                        <ion-button (click)="changeProperty('+', 'd')">
                            <ion-icon  slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-note slot="end">{{hero.defence}}</ion-note>
                </ion-item>
                <ion-item>
                    <ion-label>Health</ion-label>
                    <ion-buttons slot="end" *ngIf="hero.property && hero.property!['assignable'] && hero.property!['assignable'] > 0">
                        <ion-button (click)="changeProperty('+', 'h')">
                            <ion-icon  slot="icon-only" name="add-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-note slot="end">{{hero.fullHealth}}</ion-note>
                </ion-item>
              </ion-list>
        </ion-content>
        <ion-content class="ion-padding">
            <ng-container *ngIf="hero?.sack as sack">
                <ion-item>
                    Coin: {{sack.coin}}
                </ion-item>
                <ion-item *ngFor="let itm of sack.items">
                    <app-item-icon [item]="itm"></app-item-icon>
                    <ion-label>{{itm.key}}</ion-label>
                    <ion-button *ngIf="usable(itm);" (click)="processItem(itm);" slot="end"> use </ion-button>
                    <ion-button *ngIf="attachable(itm);" (click)="attachItem(itm);" slot="end"> Attach </ion-button>
                    
                </ion-item>
            </ng-container>
        </ion-content>

    </ng-template>
</ion-modal>