:host {
    display: inline-block;

    margin-left: 1em;
    margin-right: 1em;
}
.image {
    background-image: url('../../../assets/oryx_16bit_fantasy_items_trans.png');
    background-position: -144px -64px;
    height: 16px;
    width: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin: auto;
    margin-top: -5px;
}