<ion-header>
    <ion-toolbar class="header-toolbar">

      <ion-title align-title="center">
        <div text-center="center">
          Button Quest
        </div>
      </ion-title>
      <ng-container *ngIf="bank$ | async as bank">
        
      </ng-container>
      <ng-container *ngIf="hero$ | async as hero">
        <ion-buttons slot="end" class="sack">
          {{ hero.sack.coin | coinDisplay }}
          <ion-icon slot="icon-only" name="wallet"></ion-icon>
          ({{ hero.sack.items.length}})
        </ion-buttons>
        <ion-buttons class="hero" slot="end" (click)="openSpecs();">
          <app-hero-icon [hero]="hero"></app-hero-icon>
        </ion-buttons>
        <app-spec-popup [hero]="hero" [isOpen]="heroSpecs" (dismissed)="specDismissed();" ></app-spec-popup>
      </ng-container> 
    </ion-toolbar>
  </ion-header>
